/* DON'T TOUCH THIS! */
html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

.menu {
    overflow: auto;
}

p {
    display: inline;
    margin: 20px;

}
.navbar {
    background-color: #FCEBCD;
    padding: 10px;
    margin: auto;
    top:0;
	left: 0;
	right: 0;
    max-width: 800px;
    position: absolute;
}
/* DON'T TOUCH THIS! */

/* Your goal is to turn basic HTML into a responsive, functional navbar, which includes both arranging the items and styling them. The navbar must stretch across the whole page & have a background color set. The items must be arranged horizontally & be placed below the title, which is centered in the middle of the navbar. Good luck! */
